#fluxogram{
  padding: 1em max( 1em, calc(1400px - 100vw) / 2);
  .data-header{

    padding: 5px;
    display: flex;
  }

  .data-section{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    margin: 15px;

    h2{
      font-weight: normal!important;
      font-size: 1em;
    }
  }
}
