<div id="fluxogram">
  <div class="data-header">
    <div class="data-section">
      <h2>Quantidade de movimentos</h2>
      <p>{{processoStats.movimentosCount}}</p>
    </div>
    <div class="data-section">
      <h2>Quantidade de processos</h2>
      <p>{{processoStats.casesCount}}</p>
    </div>
    <div class="data-section">
      <h2>Número de grupos de processos</h2>
      <p>{{processoStats.avgMovimentosPerCase}}</p>
    </div>
    <div class="data-section">
      <h2>Média da duração dos processos</h2>
      <p>{{processoStats.avgCaseDuration}}</p>
    </div>
  </div>
  <figure id="fluxogram"></figure>
</div>
