<div id="fluxogram">
  <div class="data-header">
    <div class="data-section">
      <h2>Quantidade de movimentos</h2>
      <p>{{movements_count}}</p>
    </div>
    <div class="data-section">
      <h2>Quantidade de processos</h2>
      <p>{{process_count}}</p>
    </div>
    <div class="data-section">
      <h2>Número de grupos de processos</h2>
      <p>{{group_process_count}}</p>
    </div>
    <div class="data-section">
      <h2>Média da duração dos processos</h2>
      <p>{{avg_process_duration}}</p>
    </div>
  </div>
  <figure id="fluxogram"></figure>
</div>
